* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Poppins', sans-serif;
}

#container1,
#container2,
#container3,
#container4 {
    position: absolute;
    width: 12em;
    height: 12em;
    border-radius: 90px;
    box-shadow: 10px 10px 10px black;
}

#container1 p,
#container2 p,
#container3 p,
#container4 p {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    text-shadow: 10px 10px 10px black;
    ;
}

#container1 {
    background-color: red;
    left: 10%;
    top: 5%;
}

#container2 {
    background-color: green;
    left: 75%;
    top: 5%;
}

#container3 {
    background-color: blue;
    left: 10%;
    top: 75%;
}

#container4 {
    background-color: yellow;
    right: 10%;
    top: 75%;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

#finalFortune {
    width: 40%;
    /* height: 40%; */
    background-color: indianred;
    position: absolute;
    left: 30%;
    top: 30%;
    border-radius: 20px;
    box-shadow: 5px 74px 53px darkred;
    display: none;
}

#headRandom {
    color: #ffffff;
    text-align: center;
    margin: 1em;
    font-weight: 100;
}